.photos {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.photos:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    filter: brightness(1.05);
    padding: 5px;
    background-color: hsl(210, 73%, 62%);
    position: relative;
}
.photos-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 7px;
}
.photos-img:hover {
    cursor: pointer;
}
.select {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 1;
}
.select:hover {
    cursor: pointer;
}
.select-checked {
    position: absolute;
    display: none;
    fill: white;
}
.select-checked:hover {
    opacity: 1;
    filter: brightness(1.5);
    cursor: pointer;
}
.select-not-checked {
    position: absolute;
    display: none;
    fill: white;
}
.select-not-checked:hover {
    cursor: pointer;
}
.check-icon {
    background-image: url('./src/assets/check.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}
svg {
    width: 100%;
    height: 100%;
}
svg .select-checked, svg .select-not-checked {
    fill: #eee;
    opacity: 0.5;
}

.del-cancel-btn {
    background-image: url('./src/assets/close_menu_icon.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.del-cancel-btn:hover {
    cursor: pointer;
}
.selected {
    font-family: Google Sans,Roboto,Arial,sans-serif;
    line-height: 1.75rem;
    font-size: 1.375rem;
    letter-spacing: 0em;
    font-weight: 400;
    color: var(--gm3-sys-color-on-background,#1f1f1f);
    padding-left: 12px;
}