.header {
    width: 100%;
    height: 60px;
    background-color: hsl(170, 20%, 88%);
    display: flex;
    justify-content: space-between;
}
.memento-logo {
    background-image: url('src/assets/memento_logo.jpeg');
    background-size: cover;
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.logout-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    color: black;
}