.header {
    width: 100%;
    height: 80px;
    background-color: #cfe4fb;
    display: flex;
    justify-content: center;
}
.memento-logo {
    background-image: url('src/assets/memento_logo.png');
    background-size: cover;
    width: 150px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}