.header {
    width: 100%;
    height: 80px;
    background-color: hsl(170, 20%, 88%);
    display: flex;
    justify-content: center;
}
.memento-logo {
    background-image: url('src/assets/memento_logo.jpeg');
    background-size: cover;
    width: 150px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.logout-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    border-radius: 50px;
    padding: 5px;
}
.logout-btn button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: rgb(29, 27, 27);
    cursor: pointer;
    text-decoration: none;
}
.logout-btn:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.094);
}